
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.calendar-header {
  margin-bottom: 15px;
  width: 100%;
}
.calendar-header .calendar-box {
  position: relative;
  height: 32px;
  line-height: 32px;
}
.calendar-header .calendar-box .calendar-content {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.calendar-header .calendar-box .calendar-content .calendar-prev,
.calendar-header .calendar-box .calendar-content .calendar-next {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 12px;
  line-height: 12px;
  background-size: contain;
  cursor: pointer;
}
.calendar-header .calendar-box .calendar-content .calendar-prev {
  margin-right: 7px;
}
.calendar-header .calendar-box .calendar-content .calendar-next {
  background-size: contain;
}
.calendar-header .calendar-box .dispersion {
  width: initial;
  display: inline;
}
.calendar-header .calendar-box .calendar-headDate {
  vertical-align: middle;
  margin: 0 12px;
  font-size: 20px;
  color: #424953;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}
.calendar-header .calendar-box .calendar-today {
  position: absolute;
  top: 0;
  right: 10px;
  width: 46px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #2061FF;
  border-radius: 4px;
  font-size: 14px;
  color: #2061FF;
  cursor: pointer;
}
.calendar-header .calendar-box .drawer {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  width: 30px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.calendar-header .calendar-box .dispersion-today {
  position: inherit;
}
.calendar-header .calendar-box .calendar-center {
  margin: 0 auto;
}
.calendar-header .calendar-box .calendar-left {
  float: left;
}
.calendar-header .calendar-box .calendar-right {
  float: right;
}

ul[data-v-8b54fc04],
ol[data-v-8b54fc04],
li[data-v-8b54fc04] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul[data-v-8b54fc04],
ol[data-v-8b54fc04] {
  list-style: none;
}
.clear[data-v-8b54fc04]:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
.cc-calendar[data-v-8b54fc04] {
  padding: 15px 1px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.cc-calendar .calendar-week[data-v-8b54fc04] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #E4E7EA;
  border-right: none;
}
.cc-calendar .calendar-week .week-item[data-v-8b54fc04] {
  float: left;
  width: 14.285%;
  text-align: center;
  font-size: 14px;
  color: #424953;
  border-right: 1px solid #E4E7EA;
}
.cc-calendar .calendar-week .week-item .weekend-class[data-v-8b54fc04] {
  color: #e02d2d;
}
.cc-calendar .calendar-view[data-v-8b54fc04] {
  width: 100%;
  border-left: 1px solid #E4E7EA;
}
.cc-calendar .calendar-view .date-view[data-v-8b54fc04] {
  float: left;
  width: 14.285%;
  height: 55px;
  border-right: 1px solid #E4E7EA;
  border-bottom: 1px solid #E4E7EA;
  cursor: pointer;
}
.cc-calendar .calendar-view .date-view .date-day[data-v-8b54fc04] {
  position: relative;
  padding: 8px 0;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #424953;
}
.cc-calendar .calendar-view .date-view .date-day .lun-class[data-v-8b54fc04] {
  font-size: 12px;
}
.cc-calendar .calendar-view .date-view .calendar-num[data-v-8b54fc04] {
  margin-top: 6px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #424953;
}
.cc-calendar .calendar-view .date-view .weekend-class[data-v-8b54fc04] {
  color: #e02d2d;
}
.cc-calendar .calendar-view .date-view .holiday-class[data-v-8b54fc04] {
  position: absolute;
  right: 2px;
  top: 2px;
  display: block;
  width: 15px;
  height: 15px;
  text-align: center;
  text-indent: 1px;
  line-height: 15px;
  overflow: hidden;
  color: #009900;
  font-size: 10px;
}
.cc-calendar .calendar-view .date-view .holiday-class[data-v-8b54fc04]:after {
  content: '假';
}
.cc-calendar .calendar-view .date-view .hworkday-class[data-v-8b54fc04] {
  position: absolute;
  right: 2px;
  top: 2px;
  display: block;
  width: 15px;
  height: 15px;
  color: red;
  text-align: center;
  text-indent: 1px;
  line-height: 15px;
  overflow: hidden;
  font-size: 10px;
}
.cc-calendar .calendar-view .date-view .hworkday-class[data-v-8b54fc04]:after {
  content: '班';
}
.cc-calendar .calendar-view .opacity-class[data-v-8b54fc04] {
  opacity: 0.5;
}
.cc-calendar .calendar-view .month-class[data-v-8b54fc04] {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}
.cc-calendar .calendar-view .todayBg[data-v-8b54fc04] {
  background: #DEB887;
  font-weight: bold;
}
.cc-calendar .calendar-view .todayBg .date-day[data-v-8b54fc04] {
  color: #fff !important;
}
.cc-calendar .calendar-view .todayBg.handleDay[data-v-8b54fc04] {
  background: #FFBB00;
}
.cc-calendar .calendar-view .todayBg.handleDay.opacity-class[data-v-8b54fc04] {
  background: #DEB887;
}
.cc-calendar .calendar-view .handleDay[data-v-8b54fc04] {
  border: 3px solid #FFBB00;
}

.info[data-v-0803a8d8] {
  text-align: left;
  padding: 0 10px;
}
.info .yl[data-v-0803a8d8] {
  position: relative;
  height: 22px;
}
.info .yl .ymd[data-v-0803a8d8] {
  font-size: 18px;
}
.info .yl .dif[data-v-0803a8d8] {
  color: grey;
  font-size: 14px;
  margin-left: 5px;
}
.info .yl .xiz[data-v-0803a8d8] {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 14px;
  border: 1px solid darkred;
  padding: 1px 4px;
  border-radius: 4px;
  color: darkred;
}
.info .nl[data-v-0803a8d8] {
  text-align: center;
}
.info .nl .lmd[data-v-0803a8d8] {
  color: crimson;
  font-size: 42px;
}
.info .nl .jq[data-v-0803a8d8] {
  color: crimson;
  font-size: 17px;
}
.info .nl .ln[data-v-0803a8d8] {
  margin-right: 2px;
  font-size: 18px;
}
.info .nl .ly[data-v-0803a8d8] {
  margin-right: 2px;
  font-size: 18px;
}
.info .nl .ld[data-v-0803a8d8] {
  font-size: 18px;
}
.info .rq[data-v-0803a8d8] {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 1px;
}
.info .rq .item1[data-v-0803a8d8] {
  grid-row: span 2;
  font-size: 68px;
  text-align: center;
  color: crimson;
  margin-right: 5px;
}
.info .rq .item2[data-v-0803a8d8] {
  padding-top: 10px;
}
.info .rq .item2 .nl .lmd[data-v-0803a8d8] {
  font-size: 22px;
}
.info .rq .item2 .nl .jq[data-v-0803a8d8] {
  font-size: 22px;
  color: crimson;
  margin-left: 10px;
}
.info .rq .item3[data-v-0803a8d8] {
  margin-top: -10px;
  color: darkgray;
}
.info .rq .item3 .ly[data-v-0803a8d8] {
  margin-right: 5px;
}
.info .ss[data-v-0803a8d8] {
  font-size: 18px;
  text-align: center;
}
.info .ss .tt[data-v-0803a8d8] {
  color: crimson;
  margin-right: 10px;
}
.info .yj[data-v-0803a8d8] {
  padding-top: 10px;
}
.info .yj .yjy[data-v-0803a8d8] {
  font-size: 28px;
  color: #009900;
  margin-right: 2px;
}
.info .yj .yjj[data-v-0803a8d8] {
  font-size: 28px;
  color: #e02d2d;
  margin-right: 2px;
}
.info .zsfw[data-v-0803a8d8],
.info .scjx[data-v-0803a8d8],
.info .pzbj[data-v-0803a8d8] {
  text-align: center;
  font-size: 18px;
}
.info .cur-class[data-v-0803a8d8] {
  color: #e02d2d;
}
.info hr[data-v-0803a8d8] {
  border-top: 1px solid #f7d5b2;
  border-bottom: none;
}

.drawer .mask[data-v-00086f80] {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
.drawer .close[data-v-00086f80] {
  position: absolute;
  z-index: 10;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background: #fff;
  /*transition: left linear 0.5s;*/
}
.drawer .open[data-v-00086f80] {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #fff;
  transition: left linear 0.2s;
}
.drawer .open .header[data-v-00086f80] {
  margin: 0;
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid silver;
  background-color: #59bbff;
  color: white;
}
.drawer .open .header .cool-text[data-v-00086f80] {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.drawer .open .item[data-v-00086f80] {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px silver solid;
  text-align: left;
  cursor: pointer;
  margin: 0;
  padding: 0 10px;
}
.drawer .open .item .link[data-v-00086f80] {
  width: 100%;
  height: 100%;
  display: block;
}
.drawer .open .item a[data-v-00086f80] {
  text-decoration: none;
  color: #000000;
}

.bd[data-v-e515944e] {
  padding: 15px 1px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.ab-header[data-v-e515944e] {
  /*margin-bottom: 15px;*/
  width: 100%;
}
.ab-header .ab-box[data-v-e515944e] {
  position: relative;
  height: 32px;
  line-height: 32px;
}
.ab-header .ab-box .ab-content[data-v-e515944e] {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.ab-header .ab-box .dispersion[data-v-e515944e] {
  width: initial;
  display: inline;
}
.ab-header .ab-box .ab-headDate[data-v-e515944e] {
  vertical-align: middle;
  margin: 0 12px;
  font-size: 18px;
  color: #424953;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}
.ab-header .ab-box .ab-right[data-v-e515944e] {
  position: absolute;
  top: 0;
  right: 10px;
  width: 46px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}
.ab-header .ab-box .drawer[data-v-e515944e] {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  width: 30px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.ab-header .ab-box .dispersion-today[data-v-e515944e] {
  position: inherit;
}
.ab-header .ab-box .ab-center[data-v-e515944e] {
  margin: 0 auto;
}
.ab-header .ab-box .ab-left[data-v-e515944e] {
  float: left;
}
.ab-header .ab-box .ab-right[data-v-e515944e] {
  float: right;
}

.dp .scroll-select[data-v-dc4b2e62]{position:relative;width:100%;margin:0 auto;background:rgba(0,0,0,0);height:350px;overflow:hidden;color:#2d3859}.dp .scroll-select ul[data-v-dc4b2e62]{transition:all .1s ease;padding-top:27px}.dp .scroll-select ul li[data-v-dc4b2e62]{line-height:40px;height:40px;font-size:18px;text-align:center;color:#a8a8a8;transition:.1s ease}.dp .scroll-select ul li.current[data-v-dc4b2e62]{font-size:18px;color:#333;font-weight:700}.dp .scroll-select ul li.node1[data-v-dc4b2e62]{font-size:18px;opacity:.7;font-weight:700}.dp .scroll-select ul li.node2[data-v-dc4b2e62]{font-size:16px;opacity:.5}.dp .scroll-select ul li.node3[data-v-dc4b2e62]{font-size:14px;opacity:.3}.dp .net-monitor[data-v-dc4b2e62]{width:100%;height:94px;border:1px solid #1989fa;border-left-width:0;border-right-width:0;position:absolute;bottom:125px;z-index:-1}.dp .f-toe[data-v-dc4b2e62]{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis}
.dp-mask[data-v-5a3f49e8]{position:fixed;left:0;right:0;top:0;bottom:0;width:100%;box-sizing:border-box;background:rgba(0,0,0,.7);z-index:9999999}.dp-mask .u-mask-zoom[data-v-5a3f49e8]{transform:scale(1, 1)}.dp-mask .choose-title[data-v-5a3f49e8]{display:flex;align-items:center;justify-content:center;color:#363837;font-size:18px;font-weight:700}.dp-mask .calendar[data-v-5a3f49e8]{display:flex;align-items:center;justify-content:center;height:100%;padding:12px}.dp-mask .calendar .content[data-v-5a3f49e8]{position:relative;display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;background-color:#fff;overflow:hidden;border-radius:12px;animation:switchOpen-5a3f49e8 500ms linear}@keyframes switchOpen-5a3f49e8{from{top:100%}to{top:0%}}.dp-mask .calendar .content .title[data-v-5a3f49e8]{display:flex;flex-direction:row;align-items:center;width:100%;height:50px;position:relative;border-bottom:1px solid #e6e6e6;background-color:#fff;border-top-left-radius:12px;border-top-right-radius:12px;margin-top:0}.dp-mask .calendar .content .title .switch[data-v-5a3f49e8]{width:70%;height:40px;line-height:40px;color:#a6a6a6;position:absolute;display:flex;top:50%;left:50%;transform:translate(-50%, -50%);border:1px solid #1989fa}.dp-mask .calendar .content .title .switch .left[data-v-5a3f49e8],.dp-mask .calendar .content .title .switch .right[data-v-5a3f49e8]{font-size:16px;display:inline-block;display:flex;justify-content:center;align-items:center;text-align:center;flex:1;width:50%;color:#1989fa;background:#fff}.dp-mask .calendar .content .title .switch .bg[data-v-5a3f49e8]{border-radius:30px;height:3px;width:20px;position:absolute;bottom:0px;z-index:0}.dp-mask .calendar .content .title .switch .active[data-v-5a3f49e8]{color:#fff;background:#1989fa}.dp-mask .calendar .content .title .switch .lunar[data-v-5a3f49e8]{left:63px;animation:switchsolar-5a3f49e8 500ms}@keyframes switchsolar-5a3f49e8{0%{left:12.5px}100%{left:63.5px}}.dp-mask .calendar .content .title .switch .solar[data-v-5a3f49e8]{left:12.5px;animation:switchlunar-5a3f49e8 500ms}@keyframes switchlunar-5a3f49e8{0%{left:63.5px}100%{left:12.5px}}.dp-mask .calendar .content .title .ignore-year[data-v-5a3f49e8]{position:absolute;right:15px}.dp-mask .calendar .content picker-div[data-v-5a3f49e8]{width:100%;height:250px;margin:20px auto}.dp-mask .calendar .content picker-div[data-v-5a3f49e8] .item{display:flex;align-items:center;justify-content:center;color:#333;font-size:16px;font-weight:bold}.dp-mask .calendar .content picker-div .uni-picker-div-wrapper uni-picker-div-column[data-v-5a3f49e8]{display:flex;align-items:center;justify-content:center;color:#333;font-size:16px;font-weight:bold}.dp-mask .calendar .content picker-div .uni-picker-div-wrapper uni-picker-div-column .uni-picker-div-group .uni-picker-div-content[data-v-5a3f49e8]{text-align:center;line-height:55px}.dp-mask .calendar .content picker-div .uni-picker-div-wrapper uni-picker-div-column .uni-picker-div-group .uni-picker-div-content .item[data-v-5a3f49e8]{display:flex;align-items:center;justify-content:center;color:#333;font-size:16px;font-weight:bold}.dp-mask .calendar .content .bottom[data-v-5a3f49e8]{height:50px;width:100%;display:flex;background-color:#f7f7f7;position:absolute;left:0;bottom:0;z-index:33}.dp-mask .calendar .content .bottom div[data-v-5a3f49e8]{width:50%;line-height:55px;text-align:center;font-size:16px}.dp-mask .calendar .content .bottom .left[data-v-5a3f49e8]{color:#a6a6a6}.dp-mask .calendar .content .bottom .right[data-v-5a3f49e8]{color:#fff;background:#1989fa}.dp-mask .time-list[data-v-5a3f49e8]{display:flex;width:100%;height:240px;overflow:hidden}.dp-mask .time-item[data-v-5a3f49e8]{flex:1;width:30%}.dp-mask .time-item[data-v-5a3f49e8]:nth-child(2){width:15%}.dp-mask .time-item[data-v-5a3f49e8]:nth-child(3){width:15%}.dp-mask .time-item[data-v-5a3f49e8]:nth-child(4){width:40%}
.content[data-v-c2e9bd72] {
  text-align: left;
  padding: 0 10px;
}
.content .table[data-v-c2e9bd72] {
  width: 100%;
  border-collapse: collapse;
}
.content .table th[data-v-c2e9bd72] {
  border: 1px lightgrey dashed;
}
.content .table td[data-v-c2e9bd72] {
  border: 1px lightgrey dashed;
  text-align: center;
  vertical-align: top;
}
.content .table .mtable[data-v-c2e9bd72] {
  width: 100%;
  border: 0;
}
.content .table .mtable td[data-v-c2e9bd72] {
  border: 0;
}
.content .inpt[data-v-c2e9bd72] {
  height: 30px;
  width: 260px;
  outline: none;
  border: 1px solid darkgrey;
  font-size: 17px;
  color: #666666;
  background-color: white;
}
.content .selt[data-v-c2e9bd72] {
  height: 33px;
  border: 1px solid darkgrey;
  width: 266px;
  color: #666666;
  font-size: 17px;
  background-color: white;
}
.content .srq[data-v-c2e9bd72] {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.content .wx0[data-v-c2e9bd72] {
  color: #67A14B;
}
.content .wx1[data-v-c2e9bd72] {
  color: #E95352;
}
.content .wx2[data-v-c2e9bd72] {
  color: #C09761;
}
.content .wx3[data-v-c2e9bd72] {
  color: #FFAA00;
}
.content .wx4[data-v-c2e9bd72] {
  color: #65A3E1;
}

.content[data-v-38426244] {
  text-align: left;
  padding: 0 20px;
}

.content[data-v-4e137b99] {
  text-align: left;
  padding: 0 20px;
}
.inpt[data-v-4e137b99] {
  height: 42px;
  width: 12%;
  outline: none;
  border: 1px solid #1AB6FF;
  text-align: center;
  font-size: 26px;
}
.marr[data-v-4e137b99] {
  margin-right: 15px;
}
.btn[data-v-4e137b99] {
  background-color: #1AB6FF;
  color: white;
  border: 0;
  height: 50px;
  width: 140px;
  font-size: 20px;
}
.btn[data-v-4e137b99]:hover {
  background-color: #1B85EE;
}

.flip-content {
  text-align: left;
  margin: 0;
}
.flip-content .flip-area {
  margin-top: 20px;
  display: flex;
}
.flip-content .flip-area ul {
  padding: 0;
  margin: 0;
}
.flip-content .flip-area .table {
  display: table;
  border-spacing: 1px;
  margin: auto;
}
.flip-content .flip-area .table li {
  display: table-row;
}
.flip-content .flip-area .table div {
  display: table-cell;
  text-align: center;
  height: 65px;
  width: 65px;
  background-color: skyblue;
}

.content[data-v-06f37615] {
  text-align: left;
  padding: 0 20px;
}
input[data-v-06f37615]::-webkit-outer-spin-button,
input[data-v-06f37615]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"][data-v-06f37615] {
  -moz-appearance: textfield;
}
.inpt[data-v-06f37615] {
  height: 36px;
  width: 100px;
  outline: none;
  border: 1px solid #1AB6FF;
  font-size: 24px;
  text-align: center;
}
.btn[data-v-06f37615] {
  background-color: #1AB6FF;
  color: white;
  border: 0;
  height: 40px;
  width: 120px;
  font-size: 18px;
}
.btn[data-v-06f37615]:hover {
  background-color: #1B85EE;
}

.content[data-v-401a0989] {
  text-align: left;
  padding: 0 20px;
}

.content[data-v-66ea4633] {
  text-align: left;
  padding: 0 20px;
  margin: 0;
}
.content .c-area[data-v-66ea4633] {
  margin-top: 20px;
  display: flex;
}
.content .c-area ul[data-v-66ea4633] {
  padding: 0;
  margin: 0;
}
.content .c-area .table[data-v-66ea4633] {
  display: table;
  border-spacing: 1px;
  margin: auto;
}
.content .c-area .table li[data-v-66ea4633] {
  display: table-row;
}
.content .c-area .table div[data-v-66ea4633] {
  display: table-cell;
  text-align: center;
}
.content .btn[data-v-66ea4633] {
  background-color: #1AB6FF;
  color: white;
  border: 0;
  height: 42px;
  width: 150px;
  font-size: 18px;
}
.content .btn[data-v-66ea4633]:hover {
  background-color: #1B85EE;
}
.content .incorrect[data-v-66ea4633]:after {
  content: '\2716';
  color: red;
  animation: fadeOut-66ea4633 1s forwards;
}
@keyframes fadeOut-66ea4633 {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}

.circle-button[data-v-487ecae0] {
  background-color: #67D28E;
  border: none;
  color: white;
  text-align: center;
  font-size: 80px;
  cursor: pointer;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.circle-button[data-v-487ecae0]:hover {
  background-color: #0D9976;
}
.circle-button[data-v-487ecae0]:active {
  background-color: #0D9976;
}
.num-wrapper[data-v-487ecae0] {
  position: relative;
  height: 60px;
  overflow-y: hidden;
  font-size: 45px;
  margin-top: 110px;
}
.num-wrapper .num[data-v-487ecae0] {
  top: 0;
  left: 0;
  position: relative;
  line-height: 60px;
}
.fade-enter-active[data-v-487ecae0],
.fade-leave-active[data-v-487ecae0] {
  transition: all 0.2s ease-in;
}
.fade-enter[data-v-487ecae0],
.fade-leave-to[data-v-487ecae0] {
  opacity: 0;
}
.fade-enter[data-v-487ecae0],
.fade-leave[data-v-487ecae0] {
  transform: translateY(0);
}
.fade-enter-to[data-v-487ecae0],
.fade-leave-to[data-v-487ecae0] {
  transform: translateY(-30px);
}

.bd[data-v-1da8d1ec] {
  padding: 15px 1px 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.bc-header[data-v-1da8d1ec] {
  /*margin-bottom: 15px;*/
  width: 100%;
}
.bc-header .bc-box[data-v-1da8d1ec] {
  position: relative;
  height: 32px;
  line-height: 32px;
}
.bc-header .bc-box .bc-content[data-v-1da8d1ec] {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}
.bc-header .bc-box .dispersion[data-v-1da8d1ec] {
  width: initial;
  display: inline;
}
.bc-header .bc-box .bc-headDate[data-v-1da8d1ec] {
  vertical-align: middle;
  margin: 0 12px;
  font-size: 18px;
  color: #424953;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}
.bc-header .bc-box .bc-right[data-v-1da8d1ec] {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 46px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}
.bc-header .bc-box .back[data-v-1da8d1ec] {
  position: absolute;
  top: 0;
  left: 10px;
  cursor: pointer;
  width: 30px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 19px;
}
.bc-header .bc-box .dispersion-today[data-v-1da8d1ec] {
  position: inherit;
}
.bc-header .bc-box .bc-center[data-v-1da8d1ec] {
  margin: 0 auto;
}
.bc-header .bc-box .bc-left[data-v-1da8d1ec] {
  float: left;
}
.bc-header .bc-box .bc-right[data-v-1da8d1ec] {
  float: right;
}

ul[data-v-39ab9c92],
ol[data-v-39ab9c92],
li[data-v-39ab9c92] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul[data-v-39ab9c92],
ol[data-v-39ab9c92] {
  list-style: none;
}
table.tj[data-v-39ab9c92] {
  margin-top: 0;
  width: 100%;
  border-collapse: collapse;
  /* 移除单元格之间的间隔 */
}
table.tj td[data-v-39ab9c92] {
  padding: 10px 0;
}
.clear[data-v-39ab9c92]:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
.hc-calendar[data-v-39ab9c92] {
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.hc-calendar .month-view[data-v-39ab9c92] {
  width: 100%;
  border-left: 1px solid #BEBEBE;
  border-top: 1px solid #BEBEBE;
}
.hc-calendar .month-view .date-view[data-v-39ab9c92] {
  float: left;
  width: 25%;
  height: 65px;
  border-right: 1px solid #BEBEBE;
  border-bottom: 1px solid #BEBEBE;
  cursor: pointer;
}
.hc-calendar .month-view .date-view .date-month[data-v-39ab9c92] {
  position: relative;
  padding: 8px 0;
  display: block;
  width: 100%;
  font-size: 15px;
  color: #424953;
}
.hc-calendar .month-view .date-view .date-month .num-class[data-v-39ab9c92] {
  padding-top: 8px;
}
.hc-calendar .calendar-week[data-v-39ab9c92] {
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px solid #BEBEBE;
  border-right: none;
}
.hc-calendar .calendar-week .week-item[data-v-39ab9c92] {
  float: left;
  width: 14.285%;
  text-align: center;
  font-size: 14px;
  color: #424953;
  border-right: 1px solid #BEBEBE;
}
.hc-calendar .calendar-week .week-item .weekend-class[data-v-39ab9c92] {
  color: #e02d2d;
}
.hc-calendar .calendar-view[data-v-39ab9c92] {
  width: 100%;
  border-left: 1px solid #BEBEBE;
}
.hc-calendar .calendar-view .date-view[data-v-39ab9c92] {
  float: left;
  width: 14.285%;
  height: 55px;
  border-right: 1px solid #BEBEBE;
  border-bottom: 1px solid #BEBEBE;
  cursor: pointer;
}
.hc-calendar .calendar-view .date-view .date-day[data-v-39ab9c92] {
  position: relative;
  padding: 8px 0;
  display: block;
  width: 100%;
  font-size: 15px;
  color: #424953;
}
.hc-calendar .calendar-view .date-view .date-day .num-class[data-v-39ab9c92] {
  padding-top: 2px;
}
.hc-calendar .calendar-view .date-view .weekend-class[data-v-39ab9c92] {
  color: #e02d2d;
}
.hc-calendar .calendar-view .opacity-class[data-v-39ab9c92] {
  opacity: 0.5;
}
.hc-calendar .calendar-view .month-class[data-v-39ab9c92] {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-size: 20px 20px;
}
.hc-calendar .todayBg[data-v-39ab9c92] {
  background: #D0EBE4;
}
.hc-calendar .todayBg .num-class[data-v-39ab9c92] {
  color: green;
}
.hc-calendar .vbtn[data-v-39ab9c92] {
  border: 0;
  width: 60px;
  height: 25px;
}
.hc-calendar .vbtn-cur[data-v-39ab9c92] {
  border: 1px #0D9976 solid;
  width: 60px;
  height: 25px;
  color: #0D9976;
}
.hc-calendar .iebtn[data-v-39ab9c92] {
  width: 60px;
  height: 25px;
  border: 1px silver dotted;
}
.echart-box[data-v-39ab9c92] {
  width: 100%;
  height: 270px;
}

